:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
}

/* General Styles */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.list-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.4px;
}

.list-text {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.32px;
}

.section-title {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.button {
  color: var(--white, #fff);
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
}

/* End of General Styles */

/* Studio */

/* Header */

.header {
  background: var(--white, #fff);
}

.header-logo {
  text-decoration: none;
}

.header-logo-web {
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header-logo-studio {
  color: var(--navyblue, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header-link {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.header-link:hover,
.header-link:focus {
  color: var(--ocean, #404bbf);
}
.header-link:active {
  color: var(--ocean, #404bbf);
}

.header-contacts-link {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--ocean, #404bbf);
}

.header-contacts-link:active {
  color: var(--ocean, #404bbf);
}

/* Section 1 */

.hero {
  background: var(--navyblue, #2e2f42);
}

.hero-title {
  color: var(--white, #fff);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

.hero-button {
  background: var(--iris, #4d5ae5);
}

.hero-button:hover,
.hero-button:focus {
  background: var(--ocean, #404bbf);
}

/* Section 4 */

.team {
  background: var(--cloud, #f4f4fd);
}

.team-item {
  background: var(--white, #fff);
}

/* Footer */

.footer {
  background: var(--navyblue, #2e2f42);
}

.footer-logo {
  text-decoration: none;
}

.footer-logo-web {
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-logo-studio {
  color: var(--cloud, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* Portfolio */

/* Buttons */

.buttons-item-button {
  color: var(--iris, #4d5ae5);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.buttons-item-button {
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
}

.buttons-item-button:hover,
.buttons-item-button:focus {
  background: var(--ocean, #404bbf);
  color: var(--white, #fff);
}
